<%- include('./partials/header') %>

<div class="container" style="text-align: center;">
    <h2>New User! Register Here</h2>
    <div style="width: 30%; margin: 25px auto;">
<form action="" method="POST"  class="ui form">
    <div class="field">
        <input type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
        <input type="password" name="password" placeholder="Password">
    </div>
    <button class="ui positive basic button">Register </button>
</form>
</div>

<%- include('./partials/footer') %>